*{
	margin: 0;
	padding: 0;
}

li{
	float: left;
	list-style-type: none;
	
}
span {
	float:right;
	clear: both;
}

ul{
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: -4px;
	
}

header {
	overflow: hidden;
	width: 100%;
	background-color: #9400D3;
	
}
nav{
	overflow: hidden;
	width: 900px;
	margin: 0 auto;
}
a{
	color: white;
	display: inline-block;
	padding: 0px 10px;
	text-transform: uppercase;
}
li:hover {
	background-color: #F5F5F5;
	
}
a:hover {
	color: #808080;
}
